<p><strong>Código:</strong>{{ p.code }}</p>
<p><strong>Descrição:</strong>{{p.description}} </p>
<p><strong>Unidade:</strong>{{p.unity}} </p>
<p><strong>Preço de Custo:</strong>{{p.cost_price}} </p>
<p><strong>Margem de Lucro:</strong>{{p.profit_margin}} </p>
<p><strong>Preço de Venda:</strong>{{ p.price }} </p>
<p><strong>Quantidade:</strong>{{ p.amount }} </p>
<p><strong>Referência:</strong>{{ p.reference }} </p>
<p><strong>Estoque Máximo:</strong>{{ p.max_stock  }} </p>
<p><strong>Estoque Mínimo:</strong>{{ p.min_stock }} </p>
<p><strong>Código de Barras:</strong>{{ p.bar_code }} </p>
<p><strong>NCM:</strong>{{ p.ncm }} </p>
<p><strong>Observações:</strong>{{ p.observations }} </p>
