<button *ngIf="!selectedCustomer" type="button" class="btn btn-primary" (click)="newCustomer()">Novo Cliente</button>

 <customer-form  *ngIf="selectedCustomer"
    [selectedCustomer]="selectedCustomer"
    [customer]="selectedCustomer" 
    (saveCustomer)="onSaveCustomer($event)"
    (closeForm)="onCloseForm($event)" >
</customer-form>


 <customer-list *ngIf="!selectedCustomer" 
    [customers]="customers" 
    (selectCustomer)="onSelectCustomer($event)" 
    (saveCustomer)="onSaveCustomer($event)">
</customer-list>


 
