
<p><strong>Código:</strong>{{ c.code }}</p>
<p><strong>Nome:</strong>{{c.name}} </p>
<p><strong>Apelido/Nome Fantasia:</strong>{{c.nickname}} </p>
<p><strong>CPF:</strong>{{c.cpf}} </p>
<p><strong>RG:</strong>{{c.rg}} </p>
<p><strong>Endereço:</strong>{{c.address}} </p>
<p><strong>Número:</strong>{{c.number}} </p>
<p><strong>Complemento:</strong>{{c.complement}} </p>
<p><strong>Bairro:</strong>{{c.district}} </p>
<p><strong>Cidade:</strong>{{c.city}} </p>
<p><strong>Estado:</strong>{{c.state}} </p>
<p><strong>CEP:</strong>{{c.zipcode}} </p>
<p><strong>Telefones:</strong>{{c.phone1}} {{c.phone2}} {{c.phone3}} </p>
<p><strong>Contato:</strong>{{c.contact}} </p>
<p><strong>Email:</strong>{{c.email}} </p>
<p><strong>Observações:</strong>{{c.observations}} </p>

