<button *ngIf="operation=='list'" type="button" class="btn btn-primary" (click)="newCustomer()">Novo Cliente</button>
<p></p>

 <customer-form  *ngIf="(selectedCustomer && operation=='update') || operation=='new'"
    [selectedCustomer]="selectedCustomer"
    [customer]="selectedCustomer" 
    (saveCustomer)="onSaveCustomer($event)"
    (closeForm)="onCloseForm($event)" >
</customer-form>


 <customer-list *ngIf="operation=='list'" 
    [customers]="customers"
    [customerFilter] = "customerFilter"
    (selectCustomer)="onSelectCustomer($event)"
    (saveCustomer)="onSaveCustomer($event)"
    (deleteSelectCustomer)="onDeleteCustomer($event)"
    (showSelectCustomer)="onShowCustomer($event)"
    (clickHeader)="onClickHeader($event)">
</customer-list>


 <customer-delete *ngIf="operation=='delete'" 
    [c]="deleteSelectedCustomer"
    (deleteCustomer)="onClickDeleteCustomer($event)"
    (closeDelete)="onCloseDelete($event)" >
</customer-delete>
 
 <customer-show *ngIf="operation=='show'" 
    [c]="selectedCustomer"
    (closeShow)="onCloseShow($event)">
</customer-show>
